<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="AutoSaveTemp" value="true"/>
    <add key="ExportUTF8" value="true"/>
    <add key="TimeOffset" value="150"/>
    <add key="ApproxTime" value="false"/>
    <add key="ShortTimeShift" value="2"/>
    <add key="LongTimeShift" value="5"/>
  </appSettings>
</configuration>
