<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="LyricEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="AutoSaveTemp" value="true"/>
    <add key="ExportUTF8" value="true"/>
    <add key="TimeOffset" value="150"/>
    <add key="ApproxTime" value="false"/>
    <add key="ShortTimeShift" value="2"/>
    <add key="LongTimeShift" value="5"/>
  </appSettings>
  <userSettings>
    <LyricEditor.Properties.Settings>
      <setting name="TimeOffset" serializeAs="String">
        <value>-150</value>
      </setting>
      <setting name="ShortShift" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="LongShift" serializeAs="String">
        <value>5</value>
      </setting>
    </LyricEditor.Properties.Settings>
  </userSettings>
</configuration>
